<footer class="footer mt-auto py-3">
    <div class="container text-center">
        <span class="text-muted">
            &copy; {{year}} | by normeno
        </span>
        
        &nbsp;
        
        <a href="https://github.com/normeno/starWars" target="_blank">
            <fa-icon [icon]="fontawesome.github"></fa-icon>
        </a>

        <br>

        <span class="text-muted">
            <small>
                Developed with 
                <a href="https://angular.io/">Angular</a>,
                <a href="https://swapi.co">Swapi</a>
                & <fa-icon [icon]="fontawesome.heart"></fa-icon>
            </small>
        </span>

    </div>
</footer>